<!-- <mc-loading *ngIf="isLoading$ | async">Loading...</mc-loading>
<mc-error-message *ngIf="error$ | async">Something gone wrong</mc-error-message> -->

<div class="article-page">
  <div class="banner">
    <div class="container" *ngIf="article">
      <h1>{{ article.title }}</h1>
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" alt="" />
        </a>
        <div class="info">
          <a [routerLink]="['/profiles', article.author.username]">
            {{ article.author.username }}
          </a>
          <span class="date">
            {{ article.createdAt }}
          </span>
        </div>
        <span *ngIf="isAuthor$ | async">
          <a
            class="btn btn-outline-secondary btn-small"
            [routerLink]="['/articles', article.slug, 'edit']"
          >
            <i class="ion-edit">Edit Article</i>
          </a>
          <button
            class="btn btn-outline-danger btn-small"
            (click)="deleteArticle()"
          > Delete Article</button>
        </span>
      </div>
    </div>
  </div>
  <div class="container page">
    <div class="article-content row" *ngIf="article">
      <div class="col-xs-12">
        <div>
          <p>{{ article.body }}</p>
        </div>
        <mc-tag-list [tags]="article.tagList"></mc-tag-list>
      </div>
    </div>
  </div>
</div>
